//Colores
$azul: #0066ff;
$negro: #12121b;

//Fuentes
$fuente-principal: "Nunito", sans-serif;
$fuente-secundaria: "Montserrat", sans-serif;

//Map
$coloresHelados: (
  heladoFrutilla: #e99690,
  heladoDulceLeche: #ce8649,
  heladoVainilla: #efb255,
  heladoChocolate: #42261b,
);
