@use "../vars" as *;

.contacto {
  font-family: $fuente-principal;
  color: $negro;

  &__div {
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.507);
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2rem);

    &__title {
      color: $azul;
    }
  }

  &__input {
    border: 0.1rem solid $azul;
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 1rem;
  }

  &__button {
    border: none;
    background: $azul;
    border-radius: 3rem;
    transition: transform 500ms ease;

    &:hover {
      transform: scale(1.03);
    }
  }
}
