@use "../vars" as *;

.faq {
  font-family: $fuente-principal;
  color: $negro;

  &__title {
    color: $azul;
  }

  //Question
  &__q {
    color: $negro;
    font-weight: 600;
  }

  //Answer
  &__a {
    text-align: left;
    background: $azul;
  }
}

.accordion-button {
  background: rgba(255, 255, 255, 0.25);

  &:not(.collapsed) {
    color: $fuente-principal;
    background: transparent;
  }
}
