@use "../vars" as *;

.helados {
  font-family: $fuente-principal;
  color: $negro;

  &__title {
    color: $azul;
  }

  &__table {
    font-family: $fuente-secundaria;
    color: $negro;
    border-color: $azul;
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2rem);
  }
}
