@use "../vars" as *;

.index {
  font-family: $fuente-principal;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);

  &__title {
    color: $negro;

    &--bold {
      color: $azul;
    }
  }

  &__button {
    border: none;
    background: $azul;
    font-family: $fuente-secundaria;
    border-radius: 3rem;
    transition: transform 500ms ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__link {
    text-decoration: none;
  }
}
