@use "../vars" as *;

.nav_img {
  width: 3.5rem;
}

.nav__title {
  color: $azul;
  font-family: $fuente-principal;
  font-weight: 900;
  font-size: 3.5rem;
}

.my-nav {
  background-color: $azul;
  font-family: $fuente-principal;
  border-radius: 1.5rem;
  font-weight: 600;
}
