@use "../vars" as *;

.nosotros {
  font-family: $fuente-principal;
  color: $negro;

  &__title {
    color: $azul;
  }

  &__article {
    display: flex;
    flex-direction: column;
    text-align: center;

    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2rem);

    &__title {
      color: $azul;
    }

    &__icon {
      color: $azul;
    }
  }
}
